body {
	font-family: 'Inter', sans-serif;
}

h1 {
	font-family: 'Poppins';
}

h3 {
	font-weight: 800;
}
h5 {
	font-size: small;
	font-weight: 600;
}

.page {
	width: 21cm;
	height: 29.7cm;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 5fr 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.school-details {
	padding: 2% 0 0 0;
	text-align: center;
}

.school-banner h5{
   line-height: 0.7;
   font-size:smaller;
}

.school-banner h4{
   letter-spacing: -1px;
   font-size:medium;
   font-weight:600;
}

.session {
	padding: 2% 0 0 0;
}
.student-details {
	padding: 2% 0 0 0;
}
.row-detail {
	font-weight: 600;
	font-size: medium;
}
.marks {
	text-align: center;
}
.detail {
	font-size: medium;
	font-weight: 600;
	text-align: center;
}
.signatures {
	padding: 2%;
}

.logo {
   padding-left: 3rem;
   padding-top: 1rem;
	height: 120px;
	width: auto;
   z-index: -1;
}

.marks-detail {
	font-size: 10px;
	font-weight: 600;
	text-align: center;
}

/* .footer{
   position: absolute;
    bottom: 2px;
} */

@media print {
	body {
		width: 21cm;
		height: 29.7cm;
		/* margin: 10mm 10mm 10mm 10mm; */
		/* change the margins as you want them to be. */
	}
}

@media print {
	.pagebreak {
		page-break-after: always;
	} /* page-break-after works, as well */
}
